@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;
    color: #000c15;
    background-color: #f1e9df;
    font-family: メイリオ, Meiryo, Osaka, “ヒラギノ角ゴ Pro W3”, “Hiragino Kaku Gothic Pro”, “ＭＳ Ｐゴシック”, “MS PGothic”, sans-serif;
}
a {
    text-decoration: none;
    color: #47433b;
}
a:hover{
    
    color: #c5b9a3;
}

/*ヘッダー*/
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color:white;
    color: #47433b;
    z-index: 3;
}
.headerdiv h1{
    margin-top: 2rem;
    padding-left: 7rem;
    float: left;
}
ul{
    position: static;
    margin-left: 2rem;
    margin-top: 3rem;
    list-style: none;
    float: left;
    
}
li{
    display: inline;
    padding: 1rem;
}
/*ヘッダーここまで*/

/*メイン*/
.maintop{
    font-size: 0;
}
main img{
    width: 100%;
}
main h1{
    padding: 2rem;
    padding-left: 7rem;
    background-color: #7e7667;
    color: #ffffff;
}
#news{
    display: flex;
}
#news img{
    border: 1px #b8b2a7 solid;
}
.news-a{
    background-color: #ffffff;
    margin: 3rem;
    margin-left: 7rem;
    margin-bottom: 5rem;
    padding: 1rem;
    width: 360px;
    height: 270px;
    filter: drop-shadow(5px 5px 5px rgb(185, 176, 159));
}
.news-b{
    background-color: #ffffff;
    margin: 3rem;
    margin-left: 1rem;
    padding: 1rem;
    width: 360px;
    height: 270px;
    filter: drop-shadow(5px 5px 5px rgb(185, 176, 159));
}
.news-c{
    background-color: #ffffff;
    margin: 3rem;
    margin-left: 1rem;
    padding: 1rem;
    width: 360px;
    height: 270px;
    filter: drop-shadow(5px 5px 5px rgb(185, 176, 159));
}
.news-d{
    background-color: #ffffff;
    margin: 3rem;
    margin-left: 1rem;
    margin-right: 7rem;
    padding: 1rem;
    width: 360px;
    height: 270px;
    filter: drop-shadow(5px 5px 5px rgb(185, 176, 159));
}
.newsmore{
    margin: 0;
    margin-left: 7rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: #a09782;
    width: 150px;
    height: 25px;
    filter: drop-shadow(2px 2px 2px rgb(185, 176, 159));
    clear: both;
}
.about{
    text-align: left;
    float: left;
}
.about p{
    padding: 5rem;
    padding-left: 7rem;
    }
.link{
    margin-left: 7rem;
    margin-bottom: 5rem;
}
.link p{
    padding: 5rem;
    padding-left: 7rem;
}
.link img{
    width: 200px;
    height: 40px;
}
/*メインここまで*/
footer{
    clear: both;
    height: 30px;
    position: relative;
    bottom: 0;
    padding: 1rem;
    padding-left: 5%;
    background-color:#47433b;
    color: #ffffff;
    z-index: 3;
}

/*別デバイスの為の記述*/
@media only screen and (min-width:640px) and (max-width:1023px) {
    #news{
        display: block;
    }
    .news-a{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 70%;
        height: 44rem;
    }
    .news-b{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 70%;
        height: 44rem;
    }
    .news-c{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 70%;
        height: 44rem;
    }
    .news-d{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 70%;
        height: 44rem;
    }
    .newsmore{
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 3rem;
        text-align: center;
        background-color: #a09782;
        width: 150px;
        height: 25px;
        filter: drop-shadow(2px 2px 2px rgb(185, 176, 159));
    }
    .about{
        width: 100%;
    }
    .link{
        clear: both;
        margin: 0;
    }
}

@media screen and (max-width:639px) {
    html{
        font-size: 100%;
    }
    header{
        position: relative;
        top: 0;
        width: 100%;
        height: 6rem;
    }
    .headerdiv h1{
        margin: 0;
        padding-top: 0.5rem;
        padding-left: 1rem;
        font-size: 130%;
        background-color: #ffffff;
    }
    ul{
        clear: both;
        margin: 0;
        padding-top: 0;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        list-style: none;
        background-color: #ffffff;
    }
    li{
        font-size: 1.3rem;
        padding: 0;
        padding-right: 2rem;
        display: inline;
    }
    main h1{
        padding: 1rem;
        font-size: 120%;
    }
    main h3{
        font-size: 80%;
    }
    #news{
        display: block;
        font-size: 1rem;
    }
    .news-a{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 80%;
        height: 23rem;
    }
    .news-b{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 80%;
        height: 23rem;
    }
    .news-c{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 80%;
        height: 23rem;
    }
    .news-d{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        width: 80%;
        height: 23rem;
    }
    .newsmore{
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
        background-color: #a09782;
        width: 150px;
        height: 25px;
        filter: drop-shadow(2px 2px 2px rgb(185, 176, 159));
    }
    .about,.link{
        font-size: 1rem;
    }
    .about{
        text-align: left;
    }
    .about p{
        padding: 1rem;
        padding-left: 1rem;
        }
    .link{
        clear: both;
        margin: 0;
    }
    .link p{
    padding: 1rem;
    padding-left: 1rem;
    }
    .link img{
        width: 200px;
        height: 40px;
    }
}